* {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    transition: all 500ms linear;
    font-weight: 400;
}

body {
    background: #f0f0f0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 99;
}

.navbar .wrapper {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.navbar .wrapper .navTrigger {
    position: absolute;
    display: none;
    width: 40px;
    right: 100px;
    top: 20px;
    cursor: pointer;
}
.navbar .wrapper .navTrigger span {
    position: relative;
    display: block;
    width: inherit;
    height: 3px;
    background: #f0f0ff;
    margin-top: 3px;
    border-radius: .4rem;
}
.navbar .wrapper .navTrigger span:nth-child(1){
    height: 4px;
    width: 20px;
}

.navbar .wrapper .navTrigger span:nth-child(2) {
    width: 30px;
}

.navbar .wrapper .left {
    flex: 1;
    display: inline-flex;
    text-align: center;
}

.navbar .wrapper .left h2 {
    position: relative;
    left: 90px;
}

.navbar .wrapper .left h2 a {
    position: relative;
    text-decoration: none;
    color: #fff;
    bottom: 10px;
}

.navbar .wrapper .left h2 img {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
}

.navbar .wrapper .cta .cta-items {
    flex: 2;
    position: relative;
    display: inline-flex;
    padding: 25px;
    justify-content: space-between;
}

.navbar .wrapper .cta .cta-items li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    margin-right: 50px;
}

.navbar .wrapper .cta .cta-items li a {
    text-decoration: none;
    color: #fff;
}
/* stop */


.contents {
    position: relative;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.contents .about .header {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
}

.contents .about .header h2 {
    position: relative;
    display: inline-flex;
    left: 15%;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.contents .about .header .arrow {
    position: relative;
    display: block;
    left: 500px;
    animation: slide infinite backwards 500ms linear;
}

@keyframes slide {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}

.contents .about .header .arrow span {
    position: relative;
    display: block;
    width: 50px;
    height: 4px;
    background: #1b0c00;
    border-radius: .5rem;
    margin-top: 2px;
}
.contents .about .header .arrow span:nth-child(1) {
    transform: rotate(-45deg);
    width: 20px;
    left: 20px;
    top: 22px;
}
.contents .about .header .arrow span:nth-child(2) {
    transform: rotate(90deg);
}
.contents .about .header .arrow span:nth-child(3) {
    transform: rotate(45deg);
    width: 20px;
    top: 10px;
    left: 9px;
}

.contents .about .rule {
    border: none;
    outline: none;
    width: 20%;
    height: 5px;
    background: #e1600a;
    margin-left: 17%;
    border-radius: .5em;
}

.contents .carousel {
    padding: 40px;
}

.contents .carousel img {
    scale: 1.05;
}


/* cards */
.container_ {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #f0f0f0;
}

.card {
    height: 400px;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.container_ .card h3 {
    font-size: 25px;
    padding: 20px 0;
    color: #333;
}

.container_ .card p {
    font-size: 20px;
    color: #777;
}

.container_ .card button {
    outline: none;
    border: none;
    background: #333;
    color: #fff;
    height: 35px;
    width: 140px;
    margin-top: 40px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50px;
}
.container_ .card button:hover {
    letter-spacing: 2px;
    opacity: .8;
}

.container_ .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: rgba(160, 160, 160, .1);
    z-index: -1;
}

.container_ .card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #e74c3c;
    z-index: -2;
    clip-path: circle(20% at 100% 5%);
}

.container_ .card .number {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
}

.container_ .card:nth-child(2)::after {
    background: #3498db;
}

.container_ .card:nth-child(3)::after {
    background: #2ecc71;
}

.container_ .card:hover::after {
    clip-path: circle(100%);
}

.container_ .card:hover h3{
    color: #fff;
}

.container_ .card:hover p{
    color: #f0f0f0;
}

.container_ .card:hover button{
    color: #333;
    background: #fff;
}

.container_ .card:hover::before {
    background: rgba(0, 0, 0, .1);
}

.footer {
    position: relative;
    display: inline-flex;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #cdcdff;
    padding: 20px;
    justify-content: center;
}


@media only screen and (max-width: 990px) {
    body {
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .navbar .wrapper .navTrigger {
        display: block;
        top: 30px;
    }

    .navbar {
        position: relative;
        display: flex;
        width: 100%;
        top: 0;
        left: 0;
        background: #000;
        z-index: 99;
    }
    .navbar .wrapper .left {
        position: relative;
        display: inline-flex;
    }

    .navbar .wrapper .cta {
        display: none;
    }

    .navbar .wrapper .left h2 {
        position: relative;
        display: flex;
        font-size: 20px;
        padding: 10px;
        margin-left: -50px;
    }

    .navbar .wrapper .left h2 a {
        margin-bottom: 10px;
    }

    .contents .carousel img {
      position: relative;
      display: block;
      width: 100%;
      scale: 1.2;
      transform: scaleY(1.1);
    }

    
    .contents .about .header {
        position: relative;
        display: flex;
        width: 100%;
        padding: 10px;
    }

    .contents .about .header h2 {
        position: relative;
        display: inline-flex;
        left: 15%;
        padding: 20px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .contents .about .rule {
        border: none;
        outline: none;
        width: 30%;
        height: 5px;
        background: #e1600a;
        margin-left: 20%;
        border-radius: .5em;
        margin-bottom: 90px;
    }
    .contents .about .header .arrow {
        position: relative;
        display: none;
        animation: slide infinite backwards 500ms linear;
    }
    

}
